/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.contact-link {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.contact-link:hover, .logo:hover {
    text-decoration: underline;
}

/* Bio styling */
.bio {
    color: #ccc;
    margin-left: 20px;
}

/* Projects grid */
.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.project {
    width: 30%; /* Adjusts to fill the page width with margin */
    display: block;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
